.paragraph{
    list-style-type: disc;
    padding: 0 0 0 35px;
    margin-bottom: 50px;
}

.paragraph li{
    line-height: 40px;
}

.paragraph li:nth-child(1){
    margin-top: -5px;
}

.insert{
    width: 100%;
    text-align: center;
}

.info1 img{
    max-width: 1056px;
    width: 100%;
    margin-bottom: 90px;
}

.info2 img{
    max-width: 1095px;
    width: 100%;
    margin-bottom: 50px;
}

.info3 img{
    max-width: 793px;
    width: 100%;
    margin-bottom: 90px;
}

.info4 img{
    max-width: 1155px;
    width: 100%;
    margin-bottom: 100px;
}