.propoBanner{
    display: flex;
    flex-wrap: nowrap;
    background: url(../images/rectangle_small.png) no-repeat top center;
    background-size: 89.8% 228px;
    height: 228px;
    align-items: center;
    margin-bottom: 115px;
}

.propotext{
    /* vertical-align: middle; */
    padding-left: 3.5%;
    padding-right: 5%;
}

.propoillust1{
    margin-left: -7.3%;
    padding-top: 22px;
}

.propoillust2{
    padding-right: -7.3%;
    padding-top: 150px;
}

.propoBox{
    width: 100%;
    border: 1px solid #c4c4c4;
    padding: 30px 43px 30px 43px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.propoBox > span{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.propoBox > span:nth-child(1){
    margin-right: 130px;
}

.propoBox > span > p:nth-child(2){
    padding-left: 15px;
}

.propoBox > span > p:nth-child(3){
    padding-left: 30px;
}

.propoBtn{
    display: flex;
    justify-content: center;
}

.propoBtn > div{
    width: 32%;
    height: 72px;
    background-color: #0097E1;
}

.propoBtn > div > p{
    font-weight: 500;
    text-align: center;
    line-height: 72px;
}