section > .wrapNarrow:nth-child(3){
    padding: 100px 0 0 0;
}

section > .wrapNarrow:nth-child(5){
    padding: 75px 0 100px 0;
}

.videoContanier{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.videoMain{
    width: 100%;
    background-color: #F7F7F6;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 25px;
}
.videoMain > div{
    width: 62.5%;
}

.videoMain > div > img{
    width: 100%;
}

.video{
    width: 49%;
    line-height: 40px;
    margin-bottom: 55px;
}
.video > img{
    width: 100%;
}

.date{
    display: flex;
}

.date > h4 {
    margin-right: 18px;
}

.date > p > img{ 
    margin: 0 3px 0 15px;
    vertical-align: middle;
}

.date > p > img:nth-child(1){
    margin-left: 0;
    padding-bottom: 4px;
}

.v-last{
    margin-bottom: 0;
}


/* best case */
.bestMain{
    width: 100%;
    height: 720px;
    background: linear-gradient(to right, #0FB6CD, #749DF8 40%, #8674F8);
    padding: 78px 7% 0 7%;
}

.bestMain > div{
    display: flex;
    flex-wrap: nowrap;
}

.cardBest{
    width: 390px;
    height: 450px;
    background-color: #fff;
    border-radius: 15px;
    text-align: center;
    padding-top: 40px;
    margin: 36px 1.4% 0 0;
}

.cardBest > img{
    margin-bottom: 15px;
}

.cardBest > p {
    margin-bottom: 40px;
}

.cardBest > h4{
    margin-bottom: 60px;
}

.cardBest > span:nth-last-child(1){
    margin-top: 30px;
    display:block;
}

.cardBest > span:nth-last-child(2){
    width: 134px;
    height: 46px;
    background-color: #6A6A6A;
    display:inline-block;
}

div > .cardBest:nth-child(1) > span:nth-last-child(2){
    background-color: #2F80ED;
}


.cardBest > span > img{
    width: 30px;
    vertical-align: middle;
    margin-right: 4px;
}

.cardBest > span > img:nth-child(2){
    margin-left: 18px;
}

.smallPlus{
    margin: 71px auto 0 auto;
    width: 180px;
    height: 64px;
    background-color: #184890;
    border-radius: 240px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.smallPlus > img{
    width: 24px;
    vertical-align: middle;
    margin-right: 10px;
    cursor: pointer;
}

.smallPlus > h4{
    color: #fff;
    line-height: 64px;
    cursor: pointer;
}