/* ---reset--- */
/* html, body{height: 100%;} */
body, p, h1, h2, h3, h4, h5, h6, ol, ul{
    margin: 0;
}
ol, ul{
    list-style-type: none;
    padding: 0;
}
*{box-sizing: border-box;}

/* ---clearfix--- */
.clearfix {*zoom:1;}
.clearfix:before, .clearfix:after {display:block; content: ''; line-height: 0;}
.clearfix:after {clear: both;}

/* ---background--- */
body{background-color: white;}
header{background: url(../images/headerIllust.png);}
footer{background-color: #2E3042;}
.footerCompany{background: url(../images/company.png) top center no-repeat #FAFAFA;}
.footerMenu{background-color: #2E3042;}

.bg01{background: url(../images/bg_livinglab.png);}
.bg02{background: url(../images/bg_participation.png);}
.bg03{background: url(../images/bg_case.png);}
.bg04{background: url(../images/bg_policy.png);}
.bg05{background: url(../images/bg_policy.png);}

/* ---wrap--- */
.wrapWide{
    width: 85.41666666666666%;
}
.wrapNarrow{
    width: 62.5%;
}
@media (max-width: 1200px) {
    .wrapWide, .wrapNarrow{
        width: 89.58333333333334%;
    }
}
