/* ---card--- */
.card{
    width: 49.166666666666664%;
    padding: 34px 2.5%;
    margin-bottom: 20px;

    border: 1px solid #C4C4C4;
    border-radius: 0 0 30px 0;
}
.card:last-of-type{
    margin-bottom: 0;
}

/* ---tagCard--- */
.tagCard{
    margin-bottom: 15px;
}
.tagCard > div{
    float: left;
    margin-right: 5px;
}

/* ---mainCard--- */
.mainCard{
    margin-bottom: 50px;
}

/* ---subCard--- */
.subCard > div{
    float: left;
    width: 100%;
}
.subCard > div > h6{
    float: left;
}
.subCard > div > h6:first-of-type,
.subCard > div > h6:nth-of-type(3){
    width: 15%;
}
.subCard > div > h6:nth-of-type(2),
.subCard > div > h6:last-of-type{
    width: 85%;
}


@media (max-width: 800px){
    .subCategory > ul {
        justify-content: end;
    }
    .subCategory > ul > li {
        width: 160px;
    }
    .subCategory > p {
        padding-right: 10px;
    }
}

@media (max-width: 750px) {
    .card{
        width: 100%;
        padding: 27px 5%;
    }
    .mainCard > h4 {
        font-size: 22px;
    }
    .mainCard > p {
        font-size: 18px;
    }
    .tagCard {
        margin-bottom: 10px;
    }
    .mainCard {
        margin-bottom: 43px;
    }
    .mainCategory {
        height: 50px;
    }
    .mainCategory > ul > li > a {
        font-size: 18px;
        height: 50px;
        padding-top: 10px;
    }
    .subCategory > ul > li {
        font-size: 18px;
    }
    .subCategory > p {
        font-size: 18px;
    }
}

@media (max-width: 500px) {
    .mento > ul > li:nth-child(1) > a {
        font-size: 14px;
        padding-top: 13px;
    }
    .subCategory > ul > li {
        font-size: 16px;
        width: 130px;
    }
}