/* ---태블릿, 스마트폰 가로모드--- */
@media (max-width: 1030px) {

}

/* ---스마트폰 세로모드--- */
@media (max-width: 750px) {

}



/* ---map--- */
@media (max-width: 1800px) {
    .mapCount{width: 27rem;}
    .countNum{padding: 15% 55%;}
    .countName{width: 150%;}
}
@media (max-width: 1400px) {
    .mapCount{width: 23rem;}
    .countNum{padding: 10% 45%;}
    .countName{width: 130%;}
    .total ul li h4{margin-right: 10%;}
}
@media (max-width: 1200px) {
    .mapCount{width: 27rem;}
}
@media (max-width: 1000px) {
    .mapCount{width: 20rem;}
    .mapCount h4{font-size: 22px;}
    .total ul li h4{font-size: 20px;}
    .total ul li > h6 > img{width: 28px;}
}
@media (max-width: 720px) {
    .mapCount{width: 16rem;}
    .mapCount h4{font-size: 18px;}
    .countNum{padding: 8% 40%;}
    .countName{width: 120%; margin-bottom: 0.3rem;}
    .total ul li h4{font-size: 18px; margin-right: 6%;} 
    .total ul li h6{font-size: 14px;}
    .total ul li > h6 > img{width: 20px;}
}
@media (max-width: 590px) {
    .mapCount{width: 14.5rem;}
    .countNum{padding: 8% 35%;}
    .countName{width: 110%;}
}
@media (max-width: 540px) {
    .mapCount{width: 13rem;}
    .total ul li > h6 > img{width: 18px;}
}


/* ---map mini-- */

/* ---mapCount mini size--- */
@media (max-width: 1760px) {
    .mapCount.mini{width: 19rem;}
    .mini .countNum{padding: 6% 34%;}
    .total.mini ul li h4 {margin-right: 5%;}
}
@media (max-width: 1570px) {
    .mapCount.mini{width: 17rem;}
    .mapCount.mini .countName {width: 100%;}
    .mini .countNum{padding: 2% 26%;}
    .total.mini ul li{height: auto; margin-bottom: 20px;}
    .total.mini ul li > h6 > img {width: 18px;}
}
@media (max-width: 1400px) {
    .mapCount.mini{width: 14.5rem;}
    .mapCount.mini .countName {width: 90%;}
    .mini .countNum{padding: 2% 28%;}
}
@media (max-width: 1200px) {
    .mapCount.mini{width: 25rem;}
    .mini .countNum{padding: 6% 40%;}
    .mapCount.mini .countName {width: 90%;}
    .mini .countNum{padding: 6% 34%;}
    .total.mini ul li{margin-bottom: 10px; height: 69.5px;}
    .total.mini ul li h6 {width: 32%;}
    .total.mini ul li h4 {margin-right: 10.5%;}
    .total.mini ul li > h6 > img {width: 24px;}
}
@media (max-width: 1000px) {
    .mapCount.mini{width: 21rem;}
    .total.mini ul li h6 {width: 36%;}
}
@media (max-width: 830px) {
    .mapCount.mini{width: 18rem;}
    .mapCount.mini .countName {width: 90%;}
    .mini .countNum{padding: 2% 28%;}
    .total.mini ul li{margin-bottom: 15px;height: auto;}
    .total.mini ul li h6 {width: 35%;}
    .total.mini ul li h4 {margin-right: 5%;}
    .total.mini ul li > h6 > img {width: 18px;}
}
@media (max-width: 720px) {
    .regionBox {height: 400px;}
    .map.mini{height: 400px;}
    .mapCount.mini{width: 16rem;}
    .total.mini ul li h6 {width: 38%;}
}
@media (max-width: 640px) {
    .mapCount.mini{width: 13rem;}
    .mapCount.mini .countName {width: 90%;}
    .mini .countNum{padding: 1% 28%;}
    .total.mini ul li h4 {margin-right: 3%;}
    .total.mini ul li > h6 > img {width: 15px;}
}
@media (max-width: 530px) {
    .mapCount.mini{width: 12rem;}
    .mini .countNum{padding: 1% 27%;}
}


/* ---mapCount mini font size--- */
@media (max-width: 1570px) {
    .total.mini ul li h4 {font-size: 22px;}
    .total ul li h6 {font-size: 16px;}
}
@media (max-width: 1400px) {
    .mapCount.mini .countName {font-size: 22px;}
    .mini .countNum{font-size: 22px;}
}
@media (max-width: 1200px) {
    .mapCount.mini .countName {font-size: 26px;}
    .mini .countNum{font-size: 26px;}
    .total ul li h6 {font-size: 18px;}
    .total.mini ul li h4 {font-size: 26px;}
}
@media (max-width: 830px) {
    .mapCount.mini .countName {font-size: 22px;}
    .mini .countNum{font-size: 22px;}
    .total ul li h6 {font-size: 16px;}
    .total.mini ul li h4 {font-size: 22px;}
}
@media (max-width: 640px) {
    .mapCount.mini .countName {font-size: 18px;}
    .mini .countNum{font-size: 18px;}
    .total ul li h6 { font-size: 14px;}
    .total.mini ul li h4 {font-size: 20px;}
}


/* ---mapCount mini li position--- */
@media (max-width: 1400px) {
    .mapCount.mini ul li:nth-child(1){top: 18%; left: 21%;}
    .mapCount ul li:nth-child(2){top: 20%; left: 60%;}
    .mapCount ul li:nth-child(4){top: 40%; left: 45%;}
    .mapCount ul li:nth-child(5){top: 42.6%; left: 75%;}
    .mapCount ul li:nth-child(6){bottom: 18%; left: 28.6%;}
    .mapCount ul li:nth-child(7){bottom: 20%; left: 60%;}
}
@media (max-width: 1200px) {
    .mapCount.mini ul li:nth-child(1){top: 1%; left: 23%;}
    .mapCount ul li:nth-child(2){top: 8%; left: 68%;}
    .mapCount ul li:nth-child(4){top: 35.5%; left: 49%;}
    .mapCount ul li:nth-child(5){top: 42.6%; left: 77%;}
    .mapCount ul li:nth-child(6){bottom: 2%; left: 28.6%;}
    .mapCount ul li:nth-child(7){bottom: 7%; left: 60%;}
}
@media (max-width: 830px) {
    .mapCount.mini ul li:nth-child(1){top: 17%;}
    .mapCount ul li:nth-child(2){top: 23%;}
    .mapCount ul li:nth-child(4){top: 40%; left: 47%;}
    .mapCount ul li:nth-child(5){top: 42.6%; left: 75%;}
    .mapCount ul li:nth-child(6){bottom: 20%;}
    .mapCount ul li:nth-child(7){bottom: 22%;}
}


/* ---section--- */
@media (max-width: 750px) {
    section > .wrapNarrow {
        padding: 50px 0 100px 0;
    }
}


/* ---nav--- */
@media (max-width: 750px) {
    .navBanner > h1 {
        font-size: 36px;
    }
    .navBanner > h4 {
        font-size: 22px;
        font-weight: 400;
    }
    .navBar {
        height: 45px;
    }
    .navBar > ul > li > a {
        height: 45px;
        padding-top: 8px;
        font-size: 18px;
    }
}


/* ---title--- */
@media (max-width: 1200px) {
    .subTitleLine {
        width: 20px;
        margin: 0 8px 0 -25px;
    }
}
@media (max-width: 750px) {
    .title > h3{
        font-size: 26px;
        margin-bottom: 10px;
    }
    .subTitle{
        margin-bottom: 15px;
    }
    .subTitle > h4{
        font-size: 22px;
    }
    .subTitleLine {
        display: none;
    }
}


/* ---button--- */
@media (max-width: 750px) {
    .downloadBtn{
        width: 21px;
        height: 19px;
    }
    .dataBtn{
        width: 17px;
        height: 17px;
    }
}


/* ---table--- */
@media (max-width: 750px) {
    table th {
        padding: 0.2rem 0;
        font-size: 18px;
    }
    table td {
        font-size: 18px;
        padding: 0.5rem 0.5rem;
    }
    .tb4-co td{
        padding: 0.5rem 1rem;
    }
    .numberBox > div > p{
        font-size: 14px;
        line-height: 31px;
        font-weight: 400;
    }
    .numberBox div{
        width: 31px;
        height: 31px;
    }
    .tb2 tr td ul {
        padding: 0 0 0 30px;
    }
    .tb2 td:nth-last-child(1){padding: 1rem 0.5rem;}

    .tb4 th:nth-child(1){width: 7.8%;}
    .tb4 td:nth-child(4){width: 14%;}
    .tbNotice tr td:nth-child(2){
        padding-left: 0.5rem;
    }
    .tb5-b td:nth-child(4) {
        width: 18%;
        font-size: 14px;
    }
}


/* 평가댓글 */
@media (max-width: 1600px) {
    .tb5-b span {
        display: block;
    }
}
@media (max-width: 1200px) {
    .tb5-b span {
        display: inline-block;
    }
}


/* ---paragraph--- */
@media (max-width: 750px) {
    .paragraph{
        margin-bottom: 15px;
    }
    .info1 img {
        margin-bottom: 55px;
    }
    .info2 img {
        margin-bottom: 30px;
    }
    .info3 img {
        margin-bottom: 55px;
    }
    .info4 img {
        margin-bottom: 30px;
    }
}