/* ---태블릿, 스마트폰 가로모드--- */
@media (max-width: 1030px) {

}

/* ---스마트폰 세로모드--- */
@media (max-width: 750px) {

}




/* ---section--- */
@media (max-width: 750px) {
    section > .wrapNarrow {
        padding: 50px 0 100px 0;
    }
}


/* ---nav--- */
@media (max-width: 750px) {
    .navBanner > h1 {
        font-size: 36px;
    }
    .navBanner > h4 {
        font-size: 22px;
        font-weight: 400;
    }
    .navBar {
        height: 45px;
    }
    .navBar > ul > li > a {
        height: 45px;
        padding-top: 8px;
        font-size: 18px;
    }
}


/* ---title--- */
@media (max-width: 1200px) {
    .subTitleLine {
        width: 20px;
        margin: 0 8px 0 -25px;
    }
}
@media (max-width: 750px) {
    .title > h3{
        font-size: 26px;
        margin-bottom: 10px;
    }
    .subTitle{
        margin-bottom: 15px;
    }
    .subTitle > h4{
        font-size: 22px;
    }
    .subTitleLine {
        display: none;
    }
}


/* ---button--- */
@media (max-width: 750px) {
    .downloadBtn{
        width: 21px;
        height: 19px;
    }
    .dataBtn{
        width: 17px;
        height: 17px;
    }
}

@media (max-width: 1200px){
    .propotext {
        padding-left: 0;
        padding-right: 3%;
    }
    .propoillust1{
        margin-left: -30px;
    }
    .propoillust1 > img{
        width: 180px;
    }
    .propoillust2{
        margin-right: 0;
    }
    .propoillust2 > img{
        width: 185px;
    }
    .propotext > h1 {
        font-size: 32px;
    }
    .propotext > p {
        font-size: 20px;
    }
    .propoBanner {
        justify-content: start;
    }
    .propotext > h1 {
        line-height: 40px;
    }
}

@media (max-width: 880px) {
    .propoillust1{
        display: none;
    }
    .propoBanner{
        background: no-repeat top center;
    }
    .propoBg{
        display: block;
    }
}

@media (max-width: 750px) {
    .propotext > h1 {
        font-size: 26px;
        font-weight: 700;
    }
    .propotext > p {
        font-size: 18px;
    }
    .propoillust2 > img{
        width: 160px;
    }
    .propotext {
        padding-right: 0;
    }
    .propoBanner{
        height: 215px;
    }
    .propoBg{
        height: 222px;
        top: 488px;
    }
    .propoBox img{
        width: 35px;
    }
}

@media (max-width: 600px) {
    .propoillust2{
        display: none;
    }
    .propotext > h1 {
        line-height: 38px;
    }
    .propoBox p{
        font-size: 18px;
    }
    .propoBox span{
        flex-wrap: wrap;
    }
}