table{
    width: 100%;
    border:3;
    border-top: 1px solid #333;
    border-bottom: 0.5px solid #c4c4c4;
    border-collapse : collapse;
    border-spacing : 0;
    text-align: center;
}

table th{
    background: #e5e9ee;
    border-right: 0.5px solid #c4c4c4;
    border-bottom: 0.9px solid #c4c4c4;
    padding: 1rem 0;
}

table td{
    background-color: #fff;
    border-right: 0.5px solid #c4c4c4;
    border-bottom: 0.5px solid #c4c4c4;
    padding: 1rem 0.5rem;
    /* padding-left: 0.5rem;
    padding-right: 0.5rem; */
}

/* .tb2 td{
    padding: 30px 0;
} */

.tb2 tr td ul{
    text-align: left;
    list-style-type: disc;
    padding: 0 0 0 55px;
}

/* .tb2 tr:nth-child(3) td{padding: 1rem 0.5rem;}
.tb2 tr:nth-child(4) td{padding: 25px 0;} */
.tb2 tr:nth-last-child(1) td{padding: 2rem 0;}

.tb2 th:nth-child(1){width: 25%;}
.tb2 th:nth-child(2){border-right: 0;}
.tb2 td:nth-child(2){border-right: 0;}
.tb2 td:nth-last-child(1){padding: 1.5rem 0.5rem; border-right: 0;}


.tb4 th:nth-child(1){width: 16%;}
.tb4 th:nth-child(2){width: 52%;}
.tb4 th:nth-child(4){border-right: 0;}
.tb4 td:nth-child(4){width: 16%; border-right: 0;}

.tb4-co th:nth-child(4){border-right: 0;}
.tb4-co td:nth-child(4){border-right: 0;}

.tb5 th:nth-child(1){width: 9.4%;}
.tb5 th:nth-child(2){width: 11.5%;}
.tb5 th:nth-child(3){width: 16%;}
.tb5 td:nth-child(4){
    width: 46.5%;
    text-align: left;
    padding-left: 1rem;
}
.tb5 td:nth-child(5){border-right:0;}
.tb5 th:nth-child(5){border-right:0;}


.tb5-b th:nth-child(1){width: 9.4%;}
.tb5-b th:nth-child(2){width: 16%;}
.tb5-b td:nth-child(3){text-align: left;padding-left: 2%;}
.tb5-b td:nth-child(4){width: 11%; font-size: 18px;}
.tb5-b td:nth-child(5){width: 11%; border-right:0;}
.tb5-b th:nth-child(5){border-right:0;}

.tb5-b td:nth-child(4) img{width: 21px; vertical-align: middle;}
.tb5-b td:nth-child(4) img:nth-child(2){margin-left: 5%;}

.tbNotice tr td:nth-child(2){
    text-align: left;
    padding-left: 1rem;
}


.numberBox{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
}

.numberBox div{
    width: 50px;
    height: 50px;
    background: #0097e1;
}


/* ---table--- */
@media (max-width: 750px) {
    table th {
        padding: 0.2rem 0;
        font-size: 18px;
    }
    table td {
        font-size: 18px;
        padding: 0.5rem 0.5rem;
    }
    .tb4-co td{
        padding: 0.5rem 1rem;
    }
    .numberBox > div > p{
        font-size: 14px;
        line-height: 31px;
        font-weight: 400;
    }
    .numberBox div{
        width: 31px;
        height: 31px;
    }
    .tb2 tr td ul {
        padding: 0 0 0 30px;
    }
    .tb2 td:nth-last-child(1){padding: 1rem 0.5rem;}

    .tb4 th:nth-child(1){width: 7.8%;}
    .tb4 td:nth-child(4){width: 14%;}
    .tbNotice tr td:nth-child(2){
        padding-left: 0.5rem;
    }
    .tb5-b td:nth-child(4) {
        width: 18%;
        font-size: 14px;
    }
}

@media (max-width: 500px){
    .tb5 tr{
        font-size: 16px;
    }
    .tb5 td{
        font-size: 16px;
    }
    .tb4 tr{
        font-size: 16px;
    }
    .tb4 td{
        font-size: 16px;
    }
    .tb4-co tr{
        font-size: 16px;
    }
    .tb4-co td{
        font-size: 16px;
    }
}


/* 평가댓글 */
@media (max-width: 1600px) {
    .tb5-b span {
        display: block;
    }
}
@media (max-width: 1200px) {
    .tb5-b span {
        display: inline-block;
    }
}

