/* ---title--- */
.title{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  

    margin-bottom: 50px;
}
.title > h3 {
    width: 100%;    
    margin-bottom: 20px;
}

/* ---titleLine--- */
.titleLine{
    background-color: #0097E1;
    width: 82px;
    height: 3px;
}

/* ---subtitle--- */
.subTitle{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 25px;
}

.subTitleLine{
    background-color: #0097E1;
    width: 30px;
    height: 3px;
    margin: 0 16px 0 -46px;
}